<div class="container text-center">
  <h1>About Page</h1>
    <p>Founded by industry veterans Datarhei supports you and your company in video
    streaming, to deliver a seamless Streamingerlebnis your target audience – anytime,
    anywhere. So you can maximize your commitment and invest money more efficiently. 
    Datarhei is not a typical streaming provider. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde sunt veritatis cumque, reiciendis quia. Modi ex excepturi, iure nam, inventore architecto atque, dolore vero, commodi id error aliquam animi! Corporis.</p>
</div>